# OS/Editor
.DS_Store
Thumbs.db
.vscode/*.log

# Salesforce CLI
.sfdx/
.sf/

# Local artifacts
mdapi_utility/
mdapi_utility.zip
manifest/temp-no-utility.xml
sf_commands.txt

# Node (if added later)
node_modules/
# Local temp & artifacts
apx.cls
*_current.txt
temp.txt
temp_el.txt
/test-results/
/disabled_md/
/temp-retrieve/
/apex-error-logger/
/config/
